{% extends 'quick_list/base.html' %}

{% block content %}

  <ul class="pricing-table" id="quick_list">
    <li class="title">Welcome {{name|default:" Guest!"}}</li>
      {% if quick_lists %}
        {% for l in quick_lists %}
          <li class="bullet-item quick_list_link">
            <a class="ui-link" href="/quick_list/{{l.id}}/items">
              <h5 class="subheader">{{ l.title }}</h5>
            </a>
          </li>
        {% endfor %}
      {% else %}
        <li class="bullet-item" id="no_list"> You don't have any lists yet. Lets get started.</li>
      {% endif %}
  </ul>


<form id="quick_list_form" method="POST">{% csrf_token %}
  {% include "quick_list/quick_list_new_form.html" %}
</form>

 <!-- Add a New List button -->
<div class="panel clearfix">
    <a href="/" class="button right">Refresh</a>
    
    <a href="#" class="add_new_quick_list_button button left">Add Quick List</a>
</div>


{% endblock %}
   